@charset "UTF-8";

body {
    margin: 0;
  }
  
  #map {
    height: 100vh;
  }
  /*ふきだしの背景色変更*/
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #2b85cf;
    color: #ffffff;
  }
  
  img {
    width: 100%;
  }